<div>
    <h1>{{title}}</h1>
    <div>
         {{#each cart.products}}
            <div>
                <h2>{{this.product.title}}</h2>
                <p>$ {{this.product.price}}</p>
                <p>Codigo: {{this.product.code}}</p>
                <p>Categoria: {{this.product.category}}</p>
                <p>Cantidad: {{this.quantity}}</p>
            </div>
        {{/each}}
    </div>
</div>